.container {
  background-color: aqua;
  display: flex;
  align-items: center;
  flex-direction: column;

  .form {
    display: flex;
    flex-direction: column;
    input {
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0;
    }
  }

  // div {
  //   width: 400px;
  //   background-color: brown;
  //   margin: 10px;
  // }
  // .fieldset {
  //   background-color: burlywood;
  //   display: flex;
  //   justify-content: space-between;
  // }
  // .submitBtn button {
  //   width: 100%;
  // }
  // .submitBtn button:hover {
  //   cursor: pointer;
  //   background-color: burlywood;
  // }
}
