* {
  box-sizing: border-box;
}

.App p {
  text-align: center;
  color: red;
}

.App p:hover {
  text-align: center;
  color: rgb(48, 48, 207);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
